<%- include("partials/header"); -%> 

<h1>Compose your Idea</h1>
<form action="/compose" method="post">
        <input type="text" name="postTitle" placeholder="Title"> <br><br> <br>
        <textarea name="postBody" id="" cols="30" rows="5" placeholder="Body"></textarea>
        <button type="submit" name="button">Publish</button>

</form>

<%- include("partials/footer"); -%>
