<%- include("partials/header"); -%> 

<h1>Blogs Section</h1>
<form action="/composeblogs" method="post" >
        <textarea class="logoee" name="postTitle" cols="60" rows="4" required></textarea> <br>
        <textarea class="logoee" name="postBody" id="" cols="60" rows="19" placeholder="Body"></textarea>
        <br><button class="button" type="submit" name="blogsButton">Compose</button>

</form>
<a href="/"> <p> ⏪ Home </p> </a>
<h1>Home Section</h1>
<form action="/composehome" method="post">
        <textarea class="logoee" name="postTitle" cols="60" rows="5" required> </textarea><br>
        <textarea class="logoee" name="postBody" id="" cols="60" rows="19" placeholder="Body"></textarea>
        <br><button class="button" type="submit" name="homeButton">Compose</button>

</form>


<%- include("partials/footer"); -%>
