<%- include("partials/header"); -%>

<h1>Blogs Section</h1>
<form action="/composeblogs" method="post">
	<textarea
		name="imgsrc"
		class="logoee"
		cols="60"
		rows="2"
		placeholder="imgsrc"
	></textarea>
	<br />
	<textarea
		class="logoee"
		name="postTitle"
		cols="60"
		rows="4"
		placeholder="title"
		required
	></textarea>
	<br />
	<textarea
		class="logoee"
		name="postBody"
		id=""
		cols="60"
		rows="19"
		placeholder="Body"
	></textarea>
	<br /><button class="button" type="submit" name="blogsButton">
		Compose
	</button>
</form>

<h1>Port Section</h1>
<form class="formc">
	<textarea
		name="year"
		class="logoee"
		cols="60"
		rows="2"
		placeholder="Year"
		id="port_year"
	></textarea>
	<br /><textarea
		class="logoee"
		name="body"
		cols="60"
		rows="2"
		placeholder="/blogs/example.html"
		id="port_body"
	></textarea>
	<br />
	<textarea
		class="logoee"
		name="title"
		cols="60"
		rows="4"
		placeholder="Title"
		required
		id="port_title"
	></textarea>
	<br />

	<textarea
		class="logoee"
		name="img"
		cols="60"
		rows="4"
		placeholder="Image src"
		required
		id="port_imgSrc"
	></textarea>

	<br />
	<textarea
		class="logoee"
		name="topContent"
		cols="60"
		rows="10"
		placeholder="Top Content"
		required
		id="port_topContent"
	></textarea>
	<br />
	<button class="button" type="submit" name="homeButton">Compose</button>
	<h2 class="resultc"></h2>
</form>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
	integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script src="/js/composeForm.js"></script>
<%- include("partials/footer"); -%>
