
<%- include("partials/header"); -%>

<h1 class="section-title">Latest Popular Blogs</h1><br>

<div class="media-scroller snaps-inline" id="container">
    <div class="media-element">
        <h2>Title 1</h2>
        <p class="title">Short title Lacurra telrta. 
            Donec ultrices tincidunt arcu non sodal
            es neque sodales ut. Mattis <br> <br> molestie a iaculis at erat pellen
            
            tesque adipiscingonec ultricesonec ultrices <br> tincidu a is molestie a iaculis at erat pellentesque adipiscing. Magnis dis partu.  Donec ultrices tincidunt arcu non sodal
            es neque sodales ut. Mattis <br> <br> molestie a iaculis at erat pellen
            
            tesque adipiscingonec ultricesonec ultrices <br> tincidu a is molestie a iaculis at erat
        <a href="/blogs">...Read more</a>
        </p>
    </div>
    <div class="media-element">
        <h2>Title 2 icfew  cewni cniew  wddiwenc cbini  enfi3nnf ienfi3 nienfi3bf ub.</h2>
        <p class="title">Short title Lacurra telrta. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. us sed vulputate odio ut. Cursus mattis molestie a iaculis at erat pellentesque adipiscing.
        <a href="/blogs">...Read more</a>
        </p>
    </div>
    <div class="media-element">
        <h2>Title 3</h2>
        <p class="title">Short title Lacurra telrta. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. us sed vulputate odio ut. Cursus mattis molestie a iaculis at erat pellentesque adipiscing.
        <a href="/blogs">...Read more</a>
        </p>
    </div>
    <div class="media-element">
        <h2>Title 4</h2>
        <p class="title">Short title Lacurra telrta. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. us sed vulputate odio ut. Cursus mattis molestie a iaculis at erat pellentesque adipiscing.
        <a href="/blogs">...Read more</a>
        </p>
    </div>
    <div class="media-element">
        <h2>Title 5</h2>
        <p class="title">Short title Lacurra telrta. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. us sed vulputate odio ut. Cursus mattis molestie a iaculis at erat pellentesque adipiscing.
            <a href="/blogs">...Read more</a>
        </p>
    </div>
    <div class="media-element">
        <h2>Title 6</h2>
        <p class="title">Short title Lacurra telrta. Donec ultrices tincidunt arcu non sodales neque sodales ut. Mattis molestie a iaculis at erat pellentesque adipiscing. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Adipiscing elit ut aliquam purus sit amet luctus venenatis lectus. us sed vulputate odio ut. Cursus mattis molestie a iaculis at erat pellentesque adipiscing.
            <a href="/blogs">...Read more</a>
        </p>
    </div>
</div>
<%- include("partials/footer"); -%>
