<%- include("partials/header"); -%>

<div id="divleft"></div>
<div id="divright"></div>
<div class="wrapper" id="middle">
	<div class="profile">
		<br />
		<br />
		<h2>Achyut Koirala</h2>
		<p style="margin-top: -13px; font-size: 13px">I Work with APIs</p>
		<br />
		!!! <br />
		<p style="font-family: monospace">
			Currently I'm a creator of code at Backend who lives off of 1's and
			0's only. I do wonders with Node.js and Go. I am always looking for
			exciting projects to sink my teeth into and striving to exceed my
			own expectations.
			<br /><br />

			At present, I'm strengthening my knowledge on Networking and
			Security and also contributing to Open Source on backend projects in
			NodeJS and Go. I've mostly worked in projects including
			Authentication and Verification with Cookies and tokens, REST APIs,
			Redis, SQLite, but mostly in NoSQL databases like MongoDB and
			CosmosDB. I'm a Microsoft Certified on Azure at Fundamentals level.
			I've been a computer hardware technician, worked with different
			computer systems and have knowledge of troubleshooting, backup and
			recovery, and configuring networks. I also carry Project Management
			and Report Writing Skills. I am highly interested in Bug Hunting for
			fun and passionate to make a Career in Digital forensics.
			<br /><br />
			Besides development, I like to read well-documented contents and
			books and On a personal note, I enjoy thunderstorms and rain,
			sceneries of hills and mountains and love to wonder alone in the
			thoughts of my own.
			<br /><br />View my Resume at
			<a class="simpleAnchor" href="/portfolio.json"
				>https://resume.achyut.koirala/portfolio</a
			>
			<br />GitHub
			<a class="simpleAnchor" href="https://github.com/axyut"
				>https://github.com/axyut</a
			>
			<br />
			LinkedIn
			<a class="simpleAnchor" href=" https://linkedin.com/in/axyut">
				https://linkedin.com/in/axyut</a
			>
			<br />
			Twitter
			<a class="simpleAnchor" href=" https://twitter.com/achyut_koirala_">
				https://twitter.com/achyut_koirala_</a
			>
			<br /><a class="simpleAnchor" href="/publish">Contact Me</a>
		</p>
		<h1>Major Projects</h1>
		<ol>
			<Li>Hackathon 2022</Li>
			<li>Open Source Contributions</li>
			<li>HacktoberFest 2022</li>
		</ol>
	</div>
	<div class="year_timeline">
		<h1 id="2020-ref">2023</h1>

		<ul>
			<li>
				<h3>
					<a
						href="/blog/gitlab-ci-private-docker-registry/"
						class="portAnchor"
						>Pulling Images From Private Docker Registries on GitLab
					</a>
				</h3>
			</li>

			<li>
				<h3>
					<a href="/blog/dockerizing-a-react-app/" class="portAnchor"
						>Dockerizing a React App</a
					>
				</h3>
			</li>

			<li>
				<h3>
					<a
						href="/blog/deploying-jekyll-netlify-docker-gitlab-ci/"
						class="portAnchor"
						>Deploying a Jekyll Site to Netlify with Docker and
						GitLab CI</a
					>
				</h3>
			</li>
		</ul>
		<h1 id="2020-ref">2022</h1>

		<ul>
			<li>
				<h3>
					<a
						href="/blog/gitlab-ci-private-docker-registry/"
						class="portAnchor"
						>Pulling Images From Private Docker Registries on GitLab
					</a>
				</h3>
			</li>

			<li>
				<h3>
					<a href="/blog/dockerizing-a-react-app/" class="portAnchor"
						>Dockerizing a React App</a
					>
				</h3>
			</li>

			<li>
				<h3>
					<a
						href="/blog/deploying-jekyll-netlify-docker-gitlab-ci/"
						class="portAnchor"
						>Deploying a Jekyll Site to Netlify with Docker and
						GitLab CI</a
					>
				</h3>
			</li>
		</ul>
		<h1 id="2020-ref">2021</h1>

		<ul>
			<li>
				<h3>
					<a
						href="/blog/gitlab-ci-private-docker-registry/"
						class="portAnchor"
						>Pulling Images From Private Docker Registries on GitLab
					</a>
				</h3>
			</li>

			<li>
				<h3>
					<a href="/blog/dockerizing-a-react-app/" class="portAnchor"
						>Dockerizing a React App</a
					>
				</h3>
			</li>

			<li>
				<h3>
					<a
						href="/blog/deploying-jekyll-netlify-docker-gitlab-ci/"
						class="portAnchor"
						>Deploying a Jekyll Site to Netlify with Docker and
						GitLab CI</a
					>
				</h3>
			</li>
		</ul>
		<h1 id="2020-ref">2020</h1>

		<ul>
			<li>
				<h3>
					<a
						href="/blog/gitlab-ci-private-docker-registry/"
						class="portAnchor"
						>Pulling Images From Private Docker Registries on GitLab
					</a>
				</h3>
			</li>

			<li>
				<h3>
					<a href="/blog/dockerizing-a-react-app/" class="portAnchor"
						>Dockerizing a React App</a
					>
				</h3>
			</li>

			<li>
				<h3>
					<a
						href="/blog/deploying-jekyll-netlify-docker-gitlab-ci/"
						class="portAnchor"
						>Deploying a Jekyll Site to Netlify with Docker and
						GitLab CI</a
					>
				</h3>
			</li>
		</ul>
		<h1 id="2020-ref">2019</h1>

		<ul>
			<li>
				<h3>
					<a
						href="/blog/gitlab-ci-private-docker-registry/"
						class="portAnchor"
						>Pulling Images From Private Docker Registries on GitLab
					</a>
				</h3>
			</li>

			<li>
				<h3>
					<a href="/blog/dockerizing-a-react-app/" class="portAnchor"
						>Dockerizing a React App</a
					>
				</h3>
			</li>

			<li>
				<h3>
					<a
						href="/blog/deploying-jekyll-netlify-docker-gitlab-ci/"
						class="portAnchor"
						>Deploying a Jekyll Site to Netlify with Docker and
						GitLab CI</a
					>
				</h3>
			</li>
		</ul>
	</div>
	<div class="contact">
		<p class="styleAnchor">
			<br /><br />
			<br />
			Whether you're a potential employer, a collaborator, or just
			someone, I invite you to enter the matrix of my mind, where I turn
			bits into bytes and bytes into brilliance. <br />
			<br />
			<a class="simpleAnchor" href="/publish">Contact Me</a>
		</p>
	</div>
</div>

<%- include("partials/footer"); -%>
