<%- include("partials/header"); -%>


<h1>Contact Me</h1>
<p>Feature your Articles, Findings and Research works here or<br>simply contact me if you've something to share.</p>
<form action="/publish" method="post">
    <input class="logoe" type="text" name="name" placeholder="*Full Name" required>
    <input class="logoe" type="text" name="email" placeholder="*Email Address" required>
    <br>
    <textarea class="logoee" id="publishTitle" name="postTitle" rows="5" required> Title: </textarea>
    <br>
    <textarea class="logoee" id="publishBody" name="postBody" rows="17" aria-placeholder="Body" required> Body:</textarea>
    <br>
    <button class="button" type="submit" name="button" >SEND</button>
</form>

<%- include("partials/footer"); -%>