<%- include("partials/header"); -%>
<section class="publishinputs">
	<div class="pubinput">
		<h2>Get In Touch</h2>
		<p>
			Feature your Articles, Findings and Research works here or<br />simply
			contact me if you've something to share.
		</p>
		<form action="/publish" method="post">
			<input
				class="logoe"
				type="text"
				name="name"
				placeholder="*Full Name"
				required
			/>
			<input
				class="logoe"
				type="text"
				name="email"
				placeholder="*Email Address"
				required
			/>
			<br />
			<textarea
				class="logoee"
				id="publishTitle"
				name="postTitle"
				rows="5"
				required
			>
 Title: </textarea
			>
			<br />
			<textarea
				class="logoee"
				id="publishBody"
				name="postBody"
				rows="17"
				aria-placeholder="Body"
				required
			>
 Body:</textarea
			>
			<br />
			<button class="button" type="submit" name="button">SEND</button>
		</form>
	</div>
	<div class="pubinput" id="loginpub">
		<h2>Admin Login</h2>
		<form class="formp">
			<input
				id="username_input"
				class="logoe"
				type="text"
				name="username"
				placeholder="Username"
				required
			/>
			<br />
			<input
				id="email_input"
				class="logoe"
				type="email"
				name="email"
				placeholder="Email Address"
				required
			/>
			<br />
			<input
				id="password_input"
				class="logoe"
				type="password"
				name="password"
				placeholder="Password"
				required
			/>
			<br />
			<div
				style="
					display: flex;
					justify-content: space-around;
					flex-direction: row;
				"
			>
				<button class="button" type="submit" name="button">
					Login
				</button>

				<a href="/compose" class="button" id="compose-btn">Compose</a>
			</div>
			<h2 class="resultp"></h2>
		</form>
	</div>
</section>
<section class="cardHolder">
	<div class="card">
		<h2>About Website</h2>
		<div class="card-paragrapgh">
			<p>
				This website is completely written in Nodejs and NoSQL Database
				Mongodb is integrated to store content. This website is live on
				the internet on Heroku app and stored in Mongodb Atlas, AWS
				cluster. <br /><br />
				It is not in production state. All the pages redirected to by
				icons in nav-bar are ejs pages which have a header and footer
				page, header page is the top of this app, it contains Html, Head
				and starting of Body section...
			</p>
		</div>
		<a class="styleAnchor" href="/about-website">Read All</a>
	</div>
	<div class="card">
		<h2>Terms and Conditions</h2>
		<div class="card-paragrapgh">
			<p>
				These terms and conditions outline the rules and regulations for
				the use of this's Website. By accessing this website we assume
				you accept these terms and conditions. <br />
				<br />
				Do not continue to use this if you do not agree to take all of
				the terms and conditions stated on this page.<br />
				The following terminology applies to these Terms and Conditions,
				Privacy Statement and Disclaimer Notice and all Agreements: ...
			</p>
		</div>
		<a class="styleAnchor" href="/about-terms">Read All</a>
	</div>
	<div class="card">
		<h2>Privacy Policy</h2>
		<div class="card-paragrapgh">
			<p>
				At this one of our main priorities is the privacy of our
				visitors. This Privacy Policy document contains types of
				information that is collected and recorded by this and how we
				use it.
				<br /><br />
				If you have additional questions or require more information
				about our Privacy Policy, please Read all and then Contact us.
				This Privacy Policy applies only to our online activities and is
				valid for visitors to our website this.
			</p>
		</div>
		<a class="styleAnchor" href="/about-privacy">Read All</a>
	</div>
</section>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
	integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script src="/js/loginForm.js"></script>
<%- include("partials/footer"); -%>
