
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }

  h1{
    font-size: 30px;
    font-family: 'Open Sans';
    color: #baded0;
  }
  h2{
    font-size: 24px;
    font-family: 'Open Sans';
    color:#cfc0b0 ;
  }

  body {
    color: #b6b6b6;
    background-color:#141418;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#00c6ff );
    border-radius: 6px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#30ff00 );
  }
  
  main {
    margin-left: 6rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow:auto;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items:center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #774360
  }
  
  .fa-secondary {
    color: #E7AB79
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .media-scroller::-webkit-scrollbar{
      width: 0%;
    }

    .navbar {
      bottom: 0;
      width:100%;
      height: 5rem;
      overflow-y: hidden;
    }
/* 
    .navbar::-webkit-scrollbar{
      width: 0%;
    } */
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }

    .nav-link{
      justify-content: center;
      margin-bottom: 0rem;
      border-radius: 50%;
      filter: grayscale(0%) opacity(1);
      background: radial-gradient(#1a1a20,#23232e);
      color: var(--text-secondary);
    }
    
  
    main {
      margin-left: 0;
      margin-bottom: 5rem;
      width:fit-content;
    }
      
    .link-text {
      margin-inline-start: 0%;
      display:flow-root;
      margin-top:0rem;   /* interchange top and bottom  6.9, 0*/
      margin-bottom: 20rem;
      position:fixed;
      font-size: 0.8rem;
      text-align:start;
      font: inherit;
      font-family: cursive;
      color: #b9e9d6;
      background-color: #141418;
      background: linear-gradient(transparent,#2c3f38e6) ;
      
    }

    .nav-link:focus{
          display: flex;
          transform: translateY(160px);
          /* transform: translateY(-60px); */
          background-color: #23232e;
    }

    .nav-link:active{
      transform: translateY(350px);
      /* transform: translateY(66px); */
    }

    .button{
      background-color: #3dbd74cf;
      color: rgb(54, 49, 49);
    }
    
    .media-scroller {
      grid-auto-columns: 100%;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .media-scroller::-webkit-scrollbar {
      width: 10%;
    }
    
    .media-scroller::-webkit-scrollbar-track {
      background: var(--bg-secondary);
    }
    
    .media-scroller::-webkit-scrollbar-thumb {
      background: linear-gradient(transparent,var(--bg-primary));
    }
    
    .media-scroller::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(transparent,var(--bg-secondary) );
    }

    .container{
      width: 100vw;
    }
    .navbar {
      top: 0;
      width: 5rem;
      height:100%;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }

    .button{
      background-color: #333833; 
      color: rgb(201, 225, 197);
    }
    .button:hover {
      background-color: #28de77cf;
    }
    
    .media-scroller {
      grid-auto-columns: 39%;
    }
  }
  
  
  .logoe {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0ch;
    margin-left: 0rem;
    border-radius: 8px;
  }
  .logoee {
    font-weight: normal;
    margin-bottom: 1rem;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0ch;
    margin-left: 0rem;
    border-radius: 8px;
    text-align:left;
  }
  
  .button {
    border-style: ridge;
    border-color: #1e1e24;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 0rem;
  }


/*horizontal scroll home page*/


  .media-scroller {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;

    padding: 0 0 0 0;

    overflow-x:auto;
    overscroll-behavior-inline: contain;
  }

  .media-element {
    cursor:auto;
    display: grid;
    /* grid-template-rows: -webkit-min-content; */
    grid-template-rows:min-content;
    gap: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #25252c;
    border-radius: 0.5rem;
    box-shadow: #0d0d0f;
  }
  .media-element h2{
    display:inline;
    height:auto;
  }
  .media-element a{
    display: inline;
    height:auto;
  }

  .media-element > p {
    inline-size: 100%;
    aspect-ratio: 12/9;
    -o-object-fit: cover;
      object-fit: cover;
  }

  .snaps-inline {
    -ms-scroll-snap-type: inline mandatory;
        scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem, 1rem;
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }

  /* general styling */

  .container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline:auto;
    width: 90vw;

  }


  p{
    font-size:larger;
  }